<form class="example-form">
  <h3 style="text-align: center"> SignUp</h3>
  <mat-form-field class="example-full-width">
    <input [ngModelOptions] ="{standalone: true}" matInput placeholder="FirstName" [(ngModel)]="signUpModel.FirstName">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [ngModelOptions] ="{standalone: true}" matInput placeholder="LastName" [(ngModel)]="signUpModel.LastName">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [ngModelOptions] ="{standalone: true}" matInput placeholder="Username" [(ngModel)]="signUpModel.Username">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [ngModelOptions] ="{standalone: true}" matInput placeholder="Password" [(ngModel)]="signUpModel.Password">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [ngModelOptions] ="{standalone: true}" matInput placeholder="Designation" [(ngModel)]="signUpModel.Designation">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input [ngModelOptions] ="{standalone: true}" matInput placeholder="WorkspaceName" [(ngModel)]="signUpModel.WorkspaceName">
  </mat-form-field>
  <button mat-fab (click)="CallToDatabase()">SignUp</button>

</form>
