
<!-- <mat-grid-list cols="2" rowHeight= "400px">
  <mat-grid-tile>
    1
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="mat-raised-button2">
      <button mat-raised-button color="primary" (click)="getLogged()">Log In</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>
    <div class="mat-raised-button1">
      <button mat-raised-button color="primary" (click)="getStart()">Get Started</button>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->

<mat-toolbar color="primary" >TL;DM
    <button mat-raised-button color="Basic" class="login" (click)="getLogged()">Log In</button>
</mat-toolbar>
